main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 2rem 0rem 2rem 0;
}

h2 {
  font-size: 1.5rem;
  padding: 2rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span{
  margin: 0.1rem;
}

.d-flex{
  padding: 2rem;
}

.navbar{
  background-image: linear-gradient(135deg, rgb(1, 100, 139), rgb(91, 208, 164) 100%)
}

.button1 {
  background-image: linear-gradient(135deg, rgb(1, 100, 139), rgb(91, 208, 164) 200%);
  color: white;
}

.button2 {
  background-image: linear-gradient(135deg, rgb(1, 100, 139), rgb(91, 208, 164) 75%);
  color: white;
}

.userName{
  color: rgb(1, 100, 139);
}

.steps{
  color: rgb(91, 208, 164);
}