main {
  min-height: 80vh;
}

h1 {
  font-size: 1.8rem;
  padding: 2rem 0rem 2rem 0;
}

h2 {
  font-size: 1.5rem;
  padding: 2rem 0;
}

h3 {
  padding: 1rem 0;
}
h5{
  color: white;
}

.rating span{
  margin: 0.1rem;
}

.d-flex{
  padding: 2rem;
}

.navbar{
  background-image: linear-gradient(135deg, rgb(1, 100, 139), rgb(91, 208, 164) 100%)
}

.button1 {
  background-image: linear-gradient(135deg, rgb(1, 100, 139), rgb(91, 208, 164) 200%);
  color: white;
}

.button2 {
  background-image: linear-gradient(135deg, rgb(1, 100, 139), rgb(91, 208, 164) 75%);
  color: white;
}

.userName{
  color: rgb(1, 100, 139);
}

.page {
  background-color: rgb(1, 100, 139);
}

.steps{
  color: rgb(91, 208, 164);
}
.carousel-header{
  background-color: rgb(1, 100, 139);
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
  display: flex;
  justify-content: right;
  padding-left: 40rem;
  padding-top: 10rem;
}

.carousel img {
  height: 300px;
  padding-top: 10px;
  margin: 40px;
  margin-left: auto;
  margin-right: 20rem;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.footer {
  background-image: linear-gradient(135deg, rgb(1, 100, 139), rgb(91, 208, 164) 100%);
  color: white;
  
}

.footer a{
  color: white;
  list-style: none;
  text-decoration: none;
}

.about-text a{
  text-decoration: none;
}